<!-- HERO -->
<section id="hero" data-type="background" data-speed="1">
	<article>
		<div class="container clearfix">
			<div class="row">
				<div class="col-sm-6">
<!-- 					<img src="../images/logo2.png" alt="Medical Ethics Logo"> -->
				</div> <!-- column -->
				<div class="col-sm-6 heroText">
					<h1>Welcome to Medical Ethics!</h1>
					<p>This site is where you and your peers from three sections of the course this fall will <strong>develop, illustrate, and organize your collective knowledge</strong> about issues in medical ethics.</p>
				</div>
			</div> <!-- row -->
		</div> <!-- container -->
	</article>
</section>

<main>
	<section id="roles">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="image-container">	
						<img src="../images/teacher.png" alt="Professor Icon" width="120">
					</div>
					<h1>The Role of the Professor</h1>
						<p>I will facilitate learning by providing the structure and organization of the course materials and activities. I am available as a resource to help students learn about the ethical issues involved in modern medical settings.</p>
				</div> <!-- column -->
				<div class="col-sm-6">
					<div class="image-container">	
						<img src="../images/students.png" alt="Student Icon" width="120">
					</div>
					<h1>The Role of the Students</h1>
						<p>Students will engage with the course materials and collaborate with their peers through a variety of activities to develop knowledge on these interesting ethical issues.</p>
				</div> <!-- column -->
			</div> <!-- row -->
		</div> <!-- roles container -->
	</section>

	<section id="uses">
		<div class="container">
		<h1>How will we use this website?</h1>
			<div class="row">
				<div class="col-sm-4 thumbnail">
					<h2><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Content</h2>
						<p>Students will collaborate to <strong>develop knowledge</strong> of the issues in each chapter. They will archive their course work regularly on the Contents Page. </p>
				</div> <!-- column -->
				<div class="col-sm-4 thumbnail">
					<h2><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Pitches</h2>
						<p>For each of the two main course sections, students will prepare a <strong>Two Minute Pitch</strong>. Those pitches will be posted here, in video form on the Pitches Page.</p>
				</div> <!-- column -->
				<div class="col-sm-4 thumbnail">
					<h2><i class="fa fa-bookmark-o" aria-hidden="true"></i> Resources</h2>
						<p>Students and the professor are encouraged to contribute outside resources relating to course content. Resources must be both <strong>relevant and reliable</strong>. These should be posted on the Resources Page.</p>
				</div> <!-- column -->
			</div> <!-- row -->
		</div> <!-- uses container -->
	</section>
</main>

