/*GLOBAL*/

body {
	color: white;
	margin-top: 50px;
	font-family: 'proxima-nova', 'Raleway', Helvetica;
	font-size: 16px;
	background: url('../images/tile.jpg') top left repeat;
}

h1 {
	text-align: center;
	font-size: 3em;
}

p {
	font-size: 1.6em;
}

header .navbar {
	background-color: #3e4249;
}

header .navbar a {
	color: white;
}

header .navbar a:hover {
	color: #5c8bc4;
}

.feature-image {
	width: 100%;
}

.feature-image-default {
	background: url('../images/hero-image.jpg') 100% 0 fixed;
	min-height: 300px;
	padding: 40px 0;
	color: white;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;	
}

.feature-image p {
	text-align: center;
}

button.btn.left {
	margin: 0 0 5% 5%;
}

button.btn.right {
	margin: 0 5% 5% 0;
	float: right;
}

div.modal label {
	color: #31BFB1;
	margin-top: 1%;
}

div.modal textarea {
	color: #777;
}

.green {
	background-color: #31BFB1;
	color: white;
}

/*HEADER*/

div.navbar-header h3 {
	color: #31BFB1;
	font-size: 
}

div.navbar-header h3 span.subtitle {
	color: white;
	font-size: .6em;
}


/*FOOTER*/

footer {
	background-color: #3e4249;
	color: white;
	padding: 20px 0 10px;
	font-size: 12px;
}

footer p {
	margin: 0;
}

footer a:link, footer a:visited {
	color: white;
}

footer a:hover {
	color: #5c8bc4;
}

footer h3 {
	color: #31BFB1;
	margin-top: -3%;
}
footer span.subtitle {
	color: white;
	font-size: .6em;
}

/*HERO*/

#hero {
	background: url('../images/hero-image.jpg') 100% 0 fixed;
	min-height: 500px;
	padding: 40px 0;
	color: white;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;	
}

#hero p {
	text-align: center;
}
/*MAIN*/

/*ROLES*/

#roles {
	color: #777;
}

#roles p {
	margin: 5% 0;
	padding: 0 10%;
	font-size: 1.4em;
}

#roles h1 {
	text-align: left;
	padding: 0 10%;
}

#roles img {
	height: 100%;
	margin-top: 5%;
}
#roles .image-container {
	display: flex;
  	justify-content: center;
  	margin-top: 5%; 	
}

/*USES*/

#uses {
	background-color: #5c8bc4;
}

#uses h1 {
	margin-top: 5%;
}

#uses .thumbnail {
	color: #777;
	padding: 2%;
	display: inline-block;
	margin: 5% 2% 5% 0;
	width: 31.33%;
	min-height: 285px;
}

#uses .thumbnail p {
	font-size: 1.2em;
}

#uses .container .row {
    display: flex;
    flex-wrap: wrap;
}


/*POSTS*/

#chapters h2 {
	color: #428BCA;
	text-align: center;
	margin: 5% 0;
}

#tabs {
	margin: 0 5%;
}

#tabs .nav-pills > li > a {
	border: 2px solid #428BCA;
  	border-radius: 4px 4px 0 0;
}

#content {
	border: 2px solid #428BCA;
	margin-bottom: 3%;
	margin: 0 5%;
	margin-bottom: 5%;
}

#content h2, h6 {
	text-align: left;
	color: #428BCA;
	line-height: .6;
}

#content .header {
	margin: 3% 0;
}

#content .posts {
	color: #777;
}

#content .posts p {
	color: #777;
	font-size: 1em;
}

#content .posts p.authors {
	margin-top: 5%;
	color: #428BCA;
}
#content .posts p.time {
	color: #428BCA;
}
#content .posts .blue {
	color: #428BCA;
}

#content .posts p.text {
	text-align: left;
	margin-top: 2%;
	font-size: 1.2em;
}

#content .searchInput {
	margin-top: 2%;
	border: 2px solid #428BCA;
	color: #428BCA;
	float: right;
}

#content label {
	color: #31BFB1;
}

#postLikes, #postDislikes {
	color: #31BFB1;
}

/*POST MODAL*/
#postModal {
	color: #777;
}
#postModal p {
	font-size: .8em;
}

/*RESOURCES*/

#resources h2 {
	color: #428BCA;
	text-align: center;
	margin: 5% 0;
}

#resourceTabs {
	margin: 0 5%;
}

#resourceTabs .nav-pills > li > a {
	border: 2px solid #428BCA;
  	border-radius: 4px 4px 0 0;
}

#resourceContent {
	border: 2px solid #428BCA;
	margin-bottom: 3%;
	margin: 0 5%;
	margin-bottom: 5%;
}

#resourceContent h2, h6 {
	text-align: left;
	color: #428BCA;
	line-height: .2;
}

#resourceContent .header {
	margin: 3% 0;
}

#resourceContent .resources {
	color: #777;
}

#resourceContent .resources p {
	color: #777;
	font-size: 1em;
}

#resourceContent .resources p.authors {
	margin-top: 5%;
	color: #428BCA;
}
#resourceContent .resources p.time {
	color: #428BCA;
}

#resourceContent .resources p.text {
	text-align: left;
	margin-top: 2%;
	font-size: 1.2em;
}

#resourceContent .searchInput {
	margin-top: 2%;
	border: 2px solid #428BCA;
	color: #428BCA;
	float: right;
}

#resourceContent label {
	color: #31BFB1;
}

#resourceLikes, #resourceDislikes {
	color: #31BFB1;

}


/*RESOURCE MODAL*/
#resourceModal {
	color: #777;
}
#resourceModal p {
	font-size: .8em;
}

/*PITCHES*/

#pitches h2 {
	color: #428BCA;
	text-align: center;
	margin: 5% 0;
}

#pitchTabs {
	margin: 0 5%;
}

#pitchTabs .nav-pills > li > a {
	border: 2px solid #428BCA;
  	border-radius: 4px 4px 0 0;
}

#pitchContent {
	border: 2px solid #428BCA;
	margin-bottom: 3%;
	margin: 0 5%;
	margin-bottom: 5%;
}

#pitchContent h2, h6 {
	text-align: left;
	color: #428BCA;
	line-height: .2;
}

#pitchContent .header {
	margin: 3% 0;
}

#pitchContent .pitches {
	color: #777;
}

#pitchContent .pitches p {
	color: #777;
	font-size: 1em;
}

#pitchContent .pitches p.authors {
	margin-top: 5%;
	color: #428BCA;
}
#pitchContent .pitches p.time {
	color: #428BCA;
}

#pitchContent .pitches p.text {
	text-align: left;
	margin-top: 2%;
	font-size: 1.2em;
}

#pitchContent .searchInput {
	margin-top: 2%;
	border: 2px solid #428BCA;
	color: #428BCA;
	float: right;
}

#pitchContent label {
	color: #31BFB1;
}

#pitchLikes, #pitchDislikes {
	color: #31BFB1;

}


/*PITCH MODAL*/
#pitchModal {
	color: #777;
}
#pitchModal p {
	font-size: .8em;
}

#pitchModal span.gray {
	color: #777;
}

#pitchModal p {
	font-size: 1em;
}

#pitchModal p.example {
	margin-left: 5%;
}
